<link rel="import" href="../behaviors/AgsViewTemplate.html">
<!--
Uber element
-->
<dom-module id="ags-type-template">
    <script>
        (function() {
            "use strict";

            var AgsTypeTemplate = Polymer({
                is: "ags-type-template",
                properties: {
                    type: {
                        type: String
                    }
                },
                behaviors: [Augeas.AgsViewTemplate],
                objectMatches: function(res) {
                    var _this = this;
                    if (!this.type) {
                        console.warn('type property is not set for ags-type-template');
                        return false;
                    }
                    if (Array.isArray(res['@type'])) {
                        return res['@type'].some(function(t) {
                            return t === _this.type;
                        });
                    }
                    return res['@type'] === this.type;
                }
            });

        }());

    </script>
</dom-module>
