<link rel="import" href="../behaviors/AgsViewTemplate.html">

<dom-module id="ags-literal-template">
    <script>
        (function() {
            "use strict";

            var AgsLiteralTemplate = Polymer({
                is: "ags-literal-template",
                behaviors: [Augeas.AgsViewTemplate],
                objectMatches: function(resource) {
                    return !(typeof resource === 'object') || !!resource['@value'];
                }
            });

        }());

    </script>
</dom-module>
