<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polymer elements components</title>
    <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
<script type="module" src="../components/paper.js"></script>
<script type="module" src="../components/vaadin.js"></script>
<script type="module" src="../components/native.js"></script>

<div id="container"></div>
</body>
