<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisteredTemplate tests</title>
    <script src="../../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.11/jsonld.min.js"></script>
    <script src="../_TestHelpers.js"></script>
    <link rel="import" href="../test-elements/test-templates.html"/>
</head>
<body>

<ags-test-template id="to-remove"></ags-test-template>

<test-fixture id="created-template">
    <template>
        <ags-test-template></ags-test-template>
    </template>
</test-fixture>

<script>

    describe('AgsTemplate', function () {

        describe('adding to DOM', function () {

            it('raises an event', function (done) {

                testHandler(document, 'ags-test-templates-changed', function() {
                    done();
                });

                fixture('created-template');
            });

        });

        describe('removing from DOM', function () {

            it('raises an event', function (done) {

                testHandler(document, 'ags-test-templates-changed', function() {
                    done();
                });

                var node = document.getElementById('to-remove');
                document.body.removeChild(node);
            });

        });
    });
</script>

</body>
</html>