<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ags-array-template tests</title>
    <script src="../../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.11/jsonld.min.js"></script>
    <link rel="import" href="../../dist/templates/ags-array-template.html" />
</head>
<body>
    <ags-array-template id="test-subject">
        <template>
            <div>[[model.length]]</div>
        </template>
    </ags-array-template>

    <script>

        var subject;

        describe('ags-array-template', function() {

            beforeEach(function() {
                subject = document.querySelector('#test-subject');
            });

            describe('objectMatches', function () {

                it('should not match object', function() {
                    var result = subject.objectMatches({});

                    assert.equal(result, false);
                });

                it('should match array', function() {
                    var result = subject.objectMatches([]);

                    assert.equal(result, true);
                });
            });
        });

    </script>
</body>
</html>