<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template tests</title>
    <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
<script type="module" src="template-registry.js"></script>
<script type="module" src="FieldTemplates.js"></script>
<script type="module" src="TemplateSelector.js"></script>
<script type="module" src="TemplateSelectorBuilder.js"></script>
<script type="module" src="ViewTemplates.js"></script>

<div id="container"></div>
</body>
