<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ags-literal-templates tests</title>
    <script src="../../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.11/jsonld.min.js"></script>
    <link rel="import" href="../../augeas.html" />
</head>
<body>
    <ags-literal-template id="test-subject">
    </ags-literal-template>

    <script>

        var subject;

        describe('ags-literal-template', function() {

            beforeEach(function() {
                subject = document.querySelector('#test-subject');
            });

            describe('objectMatches', function() {

                it('should not match object', function() {
                    var result = subject.objectMatches({});

                    assert.equal(result, false);
                });

                it('should not match array', function() {
                    var result = subject.objectMatches([]);

                    assert.equal(result, false);
                });

                it('should match number', function() {
                    var result = subject.objectMatches(10);

                    assert.equal(result, true);
                });

                it('should match string', function() {
                    var result = subject.objectMatches('xyz');

                    assert.equal(result, true);
                });

                it('should match boolean', function() {
                    var result = subject.objectMatches(true);

                    assert.equal(result, true);
                });

                it('should match JSON-LD literal object', function() {
                    var result = subject.objectMatches({
                        '@value': 'test'
                    });

                    assert.equal(result, true);
                });

            });
        });

    </script>
</body>
</html>