<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ags-object-template tests</title>
    <script src="../../bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <script src="../../bower_components/web-component-tester/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.4.11/jsonld.min.js"></script>
    <link rel="import" href="../../dist/templates/ags-object-template.html" />
</head>
<body>
<ags-object-template id="test-subject">
</ags-object-template>

<script>

    var subject;

    describe('ags-object-template', function () {

        beforeEach(function () {
            subject = document.querySelector('#test-subject');
        });

        describe('objectMatches', function () {

            it('should match JSON-LD object', function () {
                var result = subject.objectMatches({
                    '@id': '_:b10'
                });

                assert.equal(result, true);
            });

            it('should not match array', function () {
                var result = subject.objectMatches([]);

                assert.equal(result, false);
            });

            it('should not match JSON-LD literal object', function () {
                var result = subject.objectMatches({
                    '@value': 10
                });

                assert.equal(result, false);
            });

        });
    });

</script>
</body>
</html>