<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="../../node_modules/wct-browser-legacy/browser.js"></script>
</head>
<body>
<script type="module">
    import ViewTemplates from '../../lit-any/views';

    describe('ViewTemplates', () => {
        describe('when builder is created', () => {
            let builder;

            beforeEach(() => {
                builder = ViewTemplates.default.when;
            });

            it('should create builder for matching values', () => {
                expect(builder.valueMatches).to.be.defined;
            });

            it('should create builder for matching scope', () => {
                expect(builder.scopeMatches).to.be.defined;
            });
        });
    });
</script>
</body>
</html>
